@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  height: 100000px;
}

/* ?Start Header Section */
.header .bg-header .card-header-bg {
  border: 0;
  border-radius: 0
}

.header .logo-img {
  margin-top: 60px
}

.header .card-title-img {
  margin-top: 100px;
  width: 529px;
  font-family: OpenSans;
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.header .header-line {
  border: 3px solid #fff;
  width: 300px;
  margin: 0;
}

.header .header-text {
  width: 529px;
  font-family: 'Lato',
    sans-serif;
  font-size: 17px;
  line-height: 1.53;
  margin-top: 15px;
}

.header .card-login {
  margin-top: 100px;
  -webkit-box-shadow: 0 6px 67px 0 rgba(11, 116, 55, 0.14);
  box-shadow: 0 6px 67px 0 rgba(11, 116, 55, 0.14);
  border-radius: 5px;
}

.header .card-login .card-body {
  padding: 50px;
}

.header .card-login .card-signup {
  width: 105.2px;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  font-family: 'Lato',
    sans-serif;
  font-size: 28px;
  line-height: 0.93;
  text-align: center;
  color: #4d4d4d;
  margin: 0 auto;
  text-transform: uppercase;
}

.header .card-login .subtitle-signup {
  font-family: 'Lato',
    sans-serif;
  font-size: 15px;
  text-align: center;
  color: #888888;
}

.header .card-login .label-signup {
  font-family: 'Lato',
    sans-serif;
  font-size: 15px;
  color: #888888;
  margin-bottom: 0;
}

.header .card-login .form-control {
  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  height: auto;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  color: #4d4d4d;
}

.header .card-login .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.header .card-login label.container {
  font-family: 'Lato',
    sans-serif;
  font-size: 13px;
  color: #888888;
}

/* Hide the browser's default checkbox */
.header .card-login label.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 19.1px;
  height: 19px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
}

/* On mouse-over, add a grey background color */
.header .card-login label.container:hover input~.checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.header .card-login label.container input:checked~.checkmark {
  background-color: #42b973;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.header .card-login label.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.header .card-login label.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.signup-text {
  font-family: 'Lato',
    sans-serif;
  font-size: 13px;
  color: #888888;
}

.header .card-login .btn-red {
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06),
    0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06),
    0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #d92f26;
  font-family: 'Lato',
    sans-serif;
  font-size: 12px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

/* !End Header Section */

/* ?Start Benefites Section */
.benefites .title-benefites {
  font-family: 'Lato',
    sans-serif;
  font-size: 32px;
  color: #4d4d4d;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 50px;
}

.benefites .line-benefites {
  border: 3px solid #d92f26;
  width: 68px;
  margin: 0;
}

.benefites .media .media-body h5 {
  font-family: 'Lato',
    sans-serif;
  font-size: 17px;
  line-height: 2.35;
  color: #888888;
}

.benefites .media-line {
  margin-top: 80px;
}

/* !End Benefites Section */